.benefits {
	@include adaptiveValue("padding-top", 62, 30);
	@include adaptiveValue("padding-bottom", 62, 30);

	&__container {}

	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("gap", 53, 10, 0, 1000, 786);

		@media (max-width: toEm(700)) {
			flex-wrap: wrap;
		}
	}

	&__pictures {
		flex: 1 1 44%;
		height: toRem(363);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@media (max-width: toEm(900)) {
			height: auto;
		}

		@media (max-width: toEm(700)) {
			flex: 0 1 50%;
			height: toRem(350);
			padding-bottom: toRem(25);
		}

		@media (max-width: toEm(560)) {
			height: auto;
			flex: 0 1 60%;
		}
	}

	&__list {
		padding: toRem(20);
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(170), auto));
		@include adaptiveValue("gap", 20, 18, 0, 1000, 425);
		align-items: center;

		@media (max-width: toEm(700)){
			row-gap: toRem(20);
			column-gap: toRem(15);
		}
		@media (max-width: toEm(425)){
			row-gap: toRem(30);
			grid-template-columns: repeat(auto-fill, minmax(toRem(170), toRem(250)));
		}
	}

	&__card {}

	&__tilte {
		color: var(--primary);
		@include adaptiveValue("font-size", 18, 14);
		@include adaptiveValue("padding-bottom", 10, 8);
	}

	&__text {
		font-size: toRem(12);
		line-height: math.div(24, 12);
	}
}