//====================================================================================================

//====================================================================================================
.footer {
	background-color: var(--primary);
	@include adaptiveValue("padding-top", 32, 20);
	@include adaptiveValue("padding-bottom", 32, 20);

	&__container {
		max-width: toRem(930);
		margin: 0 auto;
	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("gap", 20, 10, 0, 1000, 768);

		@media (max-width: toEm(550)) {
			flex-direction: column;
			align-items: inherit;
			gap: toRem(25);
		}
	}

	&__email {
		@media (max-width: toEm(550)) {
			align-self: flex-start;
		}
		@media (max-width: toEm(450)){
			align-self: center;
		}
	}

	&__link-email {
		display: block;
		color: var(--accent);
		opacity: 0.6;
		font-size: toRem(12);
		padding: toRem(5) toRem(8) toRem(5) toRem(8);
	}

	&__logo {
		@media (max-width: toEm(550)) {
			align-self: center;
		}
	}

	&__link-logo {}

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: toEm(550)) {
			align-self: flex-end;
		}
		@media (max-width: toEm(450)){
			align-self: center;
		}
	}

	&__item {}

	&__link {
		display: block;
		opacity: 0.6;
		color: var(--accent);
		padding: toRem(5) toRem(8) toRem(5) toRem(8);
		font-size: toRem(12);
	}
}