.header {
	padding: toRem(10) 0;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--primary);

	}

	&__container {}

	&__body {
		display: flex;
		align-items: center;

	}

	&__logo {
		flex: 1 1 auto;
		position: relative;
		z-index: 3;

		@media (max-width:$mobileSmall) {
			order: 1;
		}
	}

	&__logo-img {
		display: inline-block;
		width: auto;
	}

	&__menu {}

	&__box-button {
		position: relative;
		z-index: 3;

		@media (max-width:$mobile) {
			padding-right: toRem(20);
			order: 2;
		}

		@media (max-width: toEm(480)) {
			padding-right: 0;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

	}

	&__button {
		font-size: toRem(12);
		@media (max-width: toEm(480)) {
			width: 50%;
			min-width: 30%;
			font-size: toRem(16);
			height: toRem(40);
		}
	}
}

.menu {
	display: flex;

	@media (min-width:$mobile) {
		@include adaptiveValue("padding-right", 33, 20);
	}

	@media (max-width:$mobile) {
		order: 3;
	}

	&__icon {}

	&__body {}

	&__list {
		position: relative;
		z-index: 4;
		display: flex;
		@include adaptiveValue("gap", 10, 8);
		align-items: center;
		flex-wrap: wrap;
	}

	&__item {}

	&__link {
		display: block;
		font-weight: 500;
		@include adaptiveValue("font-size", 12, 10);
		text-align: center;
		color: var(--accent);

		padding: toRem(10);

		@media (max-width:$mobile) {
			font-size: toRem(20);
			padding: toRem(15) toRem(10);
		}
	}
}

.icon-menu {}