.hero {
	position: relative;
	aspect-ratio: 1000 / 600;

	@media (max-width: toEm(1024)) {
		aspect-ratio: 800 / 500;
	}

	@media (max-width: toEm(600)) {
		aspect-ratio: 600 / 400;
	}

	@media (max-width: toEm(450)) {
		aspect-ratio: 800 / 600;
	}

	&__container {
		height: 100%;
	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: toRem(20);
		height: 100%;
		position: relative;
		z-index: 2;

		@media (max-width: toEm(600)) {
			padding-top: toRem(30);
			flex-direction: column;
			justify-content: center;
			row-gap: toRem(10);
		}
	}

	&__info {
		position: relative;
		z-index: 2;
	}

	&__sub-title {
		font-weight: 500;
		@include adaptiveValue("font-size", 16, 14);
		opacity: 0.8;
		color: var(--accent);
		@include adaptiveValue("padding-bottom", 12, 5);
		@media (max-width: toEm(600)){
			 text-align: center; 
		}
	}

	&__title {
		font-family: 'Merriweather', sans-serif;
		font-weight: 900;
		@include adaptiveValue("font-size", 30, 14);
		color: var(--accent);
		max-width: toRem(440);

		@media (max-width: toEm(600)) {
			text-align: center;
		}
	}

	&__button-film {
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("gap", 10, 6);
		font-weight: 500;
		@include adaptiveValue("font-size", 12, 10);
		color: var(--accent);
	}

	&__cover-image {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0.25;
			display: block;
			background-color: #fff;
		}
	}

	&__image {
		aspect-ratio: 1000 / 600;
	}
}

.ibg {}